:root {
  color-scheme: dark;
}

body {
  padding: 0;
  overflow: hidden;
  background: url('/imgs/bg.jpg') no-repeat center center fixed;
  background-size: 100% 100%;
  place-content: center;
  justify-content: center;
}

.box {
  background-color: rgba(0, 0, 0, 0.342);
  display: flex;
  justify-content: center;
}

input[type=submit] {
  background-color: #21252975;
  color: white;
}

input[type=submit]:hover {
  transition: 0.5s;
  background-color: #7c7c7c86;
  color: #000000;
}

input[type=text],
input[type=password] {
  border-radius: 5px;
}